body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden; /* Evita que la pantalla rebote */
}

#controles {
    padding: 10px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    z-index: 10;
}

#plano-bar {
    width: 100vw;
    height: 80vh;
    background-color: #ddd;
    position: relative;
    background-image: radial-gradient(#bbb 1px, transparent 1px);
    background-size: 20px 20px; /* Cuadrícula de guía */
}

.mesa {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    touch-action: none; /* Vital para que el arrastre funcione */
    user-select: none;
}

.disponible { background-color: #2ecc71; border: 2px solid #27ae60; }
.ocupada { background-color: #e74c3c; border: 2px solid #c0392b; }

.btn-crear { padding: 10px; background: #2ecc71; border: none; border-radius: 5px; color: white; }
.btn-guardar { padding: 10px; background: #3498db; border: none; border-radius: 5px; color: white; }